# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vs2015
*.db
*.opendb
*.ncb
*.suo
*.user
*.aps
**/debug/
**/release/
**/libs/
**/x64/
